<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>GTFS Feed Downloader</title>
    <script>
        function updateFeeds() {
            var organizationSelect = document.getElementById("organization_name");
            var selectedOrganization = organizationSelect.value;
            var feedData = JSON.parse('{{ feed_data|tojson|safe }}');
            var feedSelect = document.getElementById("feed_name");

            // フィードリストをクリア
            feedSelect.innerHTML = "";

            // 対応するフィードを追加
            if (feedData[selectedOrganization]) {
                feedData[selectedOrganization]['feeds'].forEach(function (feed) {
                    var option = document.createElement("option");
                    option.value = feed.feed_id;
                    option.text = feed.feed_name;
                    feedSelect.add(option);
                });
            }

            // hidden input に organization_id を設定
            document.getElementById("organization_id").value = feedData[selectedOrganization]['organization_id'];
        }
    </script>
</head>

<body>
    <h1>GTFS Feed Downloader</h1>
    <form method="post" action="/get_feed">
        <label for="organization_name">自治体を選択してください:</label>
        <select id="organization_name" name="organization_name" onchange="updateFeeds()">
            {% for organization_name in organization_names %}
            <option value="{{ organization_name }}">{{ organization_name }}</option>
            {% endfor %}
        </select>

        <input type="hidden" id="organization_id" name="organization_id" value="">

        <br><br>

        <label for="feed_name">フィードを選択してください:</label>
        <select id="feed_name" name="feed_name">
            <!-- JavaScriptでフィード名をここに追加 -->
        </select>

        <br><br>

        <button type="submit">Download Feed</button>
    </form>
</body>

</html>